body {
    font-family: 'Courier New', Courier, monospace;
}

p, ul {
    font-size: 18px;
    font-weight: bold;
}

a {
    font-weight: normal;
}

/*Header*/
h1 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Colors Section*/
.colors {
    border-top: 2px gray dotted;
    margin: auto;
    text-align: center;
}

.indigo, .red, .sunglow, .turquoise{
    display: inline-block;
    border-radius: 20%;
    width: 150px;
    padding: 20px;
    margin: 15px;
    text-align: center;
}

.indigo {
    background-color: #540D6E;
}

.red {
    background-color: #EE4266;
}

.sunglow {
    background-color: #FFD23F;
}

.turquoise {
    background-color: #3BCEAC;
}

/*Fonts Section*/
.fonts {
    border-top: 2px gray dotted;
    margin: auto;
    text-align: center;
}

.font-1 {
    display: inline-block;
    font-family:'Climate Crisis';
    font-size: 36px;
    text-align: left;
    margin: 25px;
}

.font-2 {
    display: inline-block;
    font-family:'Advent Pro';
    font-size: 18px;
    text-align: left;
    margin: 25px;
}

.font-3 {
    display: inline-block;
    font-family:'Major Mono Display';
    font-size: 18px;
    text-align: left;
    margin: 25px;
}

.fonts h3 {
    text-decoration: underline;
    font-weight: normal;
}

.fonts p{
    font-weight: normal;
}

/*Text Styles*/
.text-styles {
    border-top: 2px gray dotted;
    margin: auto;
    text-align: center;
}

.heading, .p-body, .buttons {
    display: inline-block;
    text-align: left;
    margin: 20px;
}

.heading h3 {
    font-family: 'Climate Crisis';
    font-size: 36px;
    font-weight: normal;
}

.p-body h3 {
    font-family: 'Advent Pro';
    font-weight: 500;
    font-size: 18px;
}

.buttons h3 {
    font-family:'Major Mono Display';
    font-weight: normal;
    font-size: 18px; 
    text-transform: uppercase;
}


/*Example*/
.example{
    border-top: 2px gray dotted;
    margin: auto;
}

.example h2{
    text-align: center;
}

.fake-site {
    border-bottom: 50px solid #540D6E;
    margin: auto;
    display: inline-block;
    width: 100%;
}

.example-head {
    background-color: #540D6E;
    border:10px solid #540D6E;
    padding: 10px;
}

.example-head h4 {
    font-family: 'Major Mono Display';
    color: #3BCEAC;
    display: inline;
    font-size: 24px;
    text-align: left;
}

.example-head ul {
    color:#FFD23F;
    display: inline;
    font-weight: normal;
}

.example-head li {
    display: inline;
    font-family: 'Major Mono Display';
    font-size: 18px;
    text-transform: capitalize;
    border: 3px double #FFD23F;
    padding: 3px;
    float: right;
    margin: auto 5px;
    font-weight: normal;
    cursor: pointer;
}

.fake-site h2 {
    font-family: 'Climate Crisis';
    font-weight: normal;
    font-size: 36px;
    color:  #EE4266;
    text-align: center;
    text-shadow:1px 1px #540D6E;
}

.fake-site p {
    font-family:'Advent Pro';
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
}

img {
    border-radius: 20%;
    width: 200px;
    margin: 0px 50px 50px 50px;
    float:left;
    box-shadow: 15px 10px #3BCEAC;
}

#contact {
    font-family:'Major Mono Display';
    color: #540D6E;
   /* background-color: #FFD23F;
    border: 5px double #fff;*/
    background: #FFD23F;
    border: 5px solid #FFD23F;
    border-radius: 10px;
    box-shadow: 5px 5px #EE4266;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    text-transform: capitalize;
    font-weight: bold;
}

#name {
    font-size: 1.5em;
    color: #540D6E;
}